.btn-contain {
    display: flex;
	margin-top:1rem;
	height: 100px;
    justify-content: center;
}

.btn {
    
	border-radius: 4px;
	background: rgb(58, 167, 218);
	text-align: center;
	z-index: 10;
	transition: 0.2s;
	cursor: pointer;
	color: #fff;
	box-shadow: 0px 1px 5px 2px #b3ceb6;
}
.btn:active, .btn:hover, .btn:focus {
	outline: none !important;
	color: white;
} 
.btn-particles {
	width: 100px;
	height: 100px;
	position: relative;
	border-radius: 50%;
	color: #eee;
	font-family: monospace;
	z-index: 5;
/* 	filter: url(#gooeyness); */
}
.btn:active {
	transform: scale(0.9) translate(0%, 10%);
}